body {
  color: #fff;
  padding: 20px;
  background: #444; }

.shadow {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  box-shadow: 1px 1px 5px #444; }

.logo {
  max-width: 150px;
  float: left;
  transition: 1000ms ease; }
  .logo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }

.atras {
  transition: 1000ms ease; }
  .atras:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }

.actor {
  transition: 500ms ease; }
  .actor:hover {
    -webkit-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01); }
